[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
novus = "==0.*"
youtube-dl = "*"
crayons = "==0.*"
tenacity = "==7.*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
